---
BasedOnStyle: LLVM
LineEnding: LF
IndentWidth: 4
ColumnLimit: 80
AlignAfterOpenBracket: BlockIndent
MaxEmptyLinesToKeep: 1
---
Language: Cpp
Standard: Latest
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
RemoveSemicolon: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
SeparateDefinitionBlocks: Always
